/*********************** CSS STYLES ***********************/

body {
    overflow-x: hidden;
    display: block;
}

.container {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.container2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;

}

#login {
    position: relative;
    display: block;
    box-shadow: 10px 20px 20px rgba(34,34,34,0.6);
    margin: 0 auto;
    top: 25%;
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

#user-panel {
    position: absolute;
    display: inline;
    z-index: 1;
}

.user-icon {
    /* this doesnt work right now fix later */
    background-size: cover;
}

#login-info {
    display: none;
}

#nav-bar {
    display: none;
}

/*********************** PLAYER STYLES ***********************/

.bg {
    position: relative;
    width: 105%;
    top: -50%;
    right: 20px;
    filter: blur(0px);
    opacity: .5;
    z-index: 0;
}

#album-art {
    position: absolute;
    overflow: visible;
    width: 716px;
    height: 716px;
    left: 150px;
    top: 109px;
}

.track-info {
    position: absolute;
    left: 900px;
    font-family: Helvetica;
    font-style: normal;
    text-align: left;
    color: rgba(165,168,176,1);
    white-space: nowrap;
}

#track-name {
    top: 275px;
    width: 219px;
    font-weight: bold;
    font-size: 70px;
}

#track-artist {
    top: 350px;
    width: 174px;
    font-weight: normal;
    font-size: 30px;
}
#track-album {
    top: 390px;
    width: 64px;
    font-weight: lighter;
    font-size: 20px;
}

/*********************** PROGRESS BAR ***********************/

.progress {
    position: absolute;
    width: 500px;
    top: 500px;
    left: 900px;
    border: 0.15em solid #eee;
    background-color: transparent;
    height: 1em;
}

.progress_bar {
    background-color: #eee;
    border: 0.1em solid transparent;
    height: 0.75em;
}

/*********************** CARRY-OVER STYLES ***********************/

#login, #loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 370px;
    height: 1080px;
    left: 0px;
    top: 0px;
}
#MIXXER {
    position: absolute;
    left: 128px;
    top: 50px;
    overflow: visible;
    width: 116px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(81,85,92,1);
}

#user-panel-bg {
    position: absolute;
    overflow: visible;
    width: 250px;
    height: 75px;
    left: 1628px;
    top: 36px;
}
.user-icon {
    position: absolute;
    overflow: visible;
    width: 60px;
    height: 58px;
    left: 1638px;
    top: 44px;
}
#Welcome {
    position: absolute;
    left: 1703px;
    top: 57px;
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#user_name {
    position: absolute;
    left: 1703px;
    top: 69px;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#MENU {
    position: absolute;
    left: 53px;
    top: 275px;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(165,168,176,1);
}
#player {
    position: absolute;
    left: 128px;
    top: 327px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(102,111,255,1);
}
#playlists {
    position: absolute;
    left: 128px;
    top: 397px;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Home___1.html;
    cursor: pointer;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(81,85,92,1);
}
#mixxer {
    position: absolute;
    left: 128px;
    top: 467px;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Home___2.html;
    cursor: pointer;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(81,85,92,1);
}
.Rectangle_5 {
    position: absolute;
    overflow: visible;
    width: 308px;
    height: 274px;
    left: 34px;
    top: 775px;
}



#track-analytics {
    position: absolute;
    left: 467px;
    top: 109px;
    overflow: visible;
    width: 220px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(165,168,176,1);
}
#next {
    position: absolute;
    left: 1671px;
    top: 467px;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(165,168,176,1);
}


.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 338px;
    height: 605px;
    left: 408px;
    top: 170px;
}
.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 300px;
    left: 1553px;
    top: 525px;
}
.Rectangle_9 {
    position: absolute;
    overflow: visible;
    width: 7px;
    height: 40px;
    left: 360px;
    top: 322px;
}